
#highlight {
    text-decoration: underline;
    font-weight: bold;
    text-decoration-line:underline;
    text-decoration-style: wavy;
}

#content {
    margin: 1rem;
    text-align: center;
}



#subheading {
    font-size: large;
    font-family: Merienda, sans-serif;
padding: 0.5rem 1rem 3rem 1rem;
}

#bg-img {
    width: 100%;
}


#links {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.login {
    width: 40%;
    background-image: linear-gradient(to right bottom, #f7fbff, #fff8fd);
} 