#login-heading {
    margin-top: 2rem;
}

form {
    margin: 0 2rem;
    font-family: Parkinsans, sans-serif;
}

fieldset {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}

legend {
    margin:  0.5rem;
    padding: 0 0.5rem;
}

.text-input {
    width: 100%;
    background: transparent;
    border: none;
    text-decoration: none;
    outline: none;
    padding: 0 1rem 0.3rem 1rem;
    font-size: large;
}

form > div {
    text-align: center;
}

#btn-submit {
    margin-top: 1rem;
    font-size: large;
    font-weight: 500;
    background-image: linear-gradient(to bottom right, #feefef, #f2f8ff);
}

form > div {
    display: flex;
    flex-direction: column;
}

form > div > a {
    margin-top: 2rem;
    font-size: small;
}
 
@media only screen and (min-width: 768px) {
    #logo-img {
        width: 2.5rem;
        margin-right: 1rem;
    }
    
    #brandname {
        font-size: 1.5rem;
    }
    body {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #topbar {
        width: 70vw;
        margin-top: 2rem;
    }
    #content{
        width: 70%;
    }
}