@import url("https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap");

@font-face {
    font-family: playwrite;
    src: url(../fonts/PlayWriteIN-Variable.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    min-height: 100vh;
    background-color: #f3fbfe;
    font-family: playwrite, cursive;
    background-image: linear-gradient(
        to right top,
        #fefff2,
        #f9fff0,
        #f4ffef,
        #eeffef,
        #e7fff0,
        #e4fff2,
        #e1fff4,
        #defff6,
        #defff8,
        #dffffa,
        #dffffb,
        #e0fffd
    );
    background-size: cover;
}

a {
    text-decoration: none;
    user-select: none;
    color: black;
}

a:link,
a:visited {
    color: black;
}

.btn {
    background-color: transparent;
    border: none;
    font-size: x-large;
    text-decoration: none;
}

#topbar {
    background: rgba(255, 255, 255, 0.57);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.9px);
    -webkit-backdrop-filter: blur(6.9px);
    border: 1px solid #ffffff86;
    margin: 1rem;
    padding: 0.8rem 1.5rem;
    display: flex;
    align-items: center;
}

#topbar > a {
    height: 2rem;
}

#logo-img {
    width: 2rem;
    margin-right: 1rem;
}

#brandname {
    font-size: 1rem;
    color: black;
    width: 100%;
}

#close {
    font-family: playwrite;
    font-style: italic;
    font-size: large;
    padding: 0.2rem 1rem;
    margin-right: 0;
}

#area {
    margin: 1rem;
    font-family: Parkinsans;
    height: 80%;
}

fieldset {
    padding: 0 1rem;
    margin: 1rem 0;
    transition: opacity 0.5s ease-in;
}

#recording-area,
#transcript-area {
    opacity: 0;
}

legend {
    padding: 0 0.5rem;
}

#question {
    padding: 1rem 1rem 1rem 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    user-select: none;
    outline: none;
}

#video {
    /* width: 100%; */
    width: 300px;
    height: 300px;
    object-fit: cover;
}

#recording-area {
    min-height: 40%;
    padding: 1rem;
}

#transcript-area {
    height: 30%;
}

#transcript-text {
    min-height: 20vh;
    overflow-y: scroll;
    height: 100%;
}

#buttons {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: opacity 0.5s ease-in;
}

#stop-btn,
#submit-btn,
#reset-btn {
    opacity: 0;
}

.btn2 {
    /* width: 40%; */
    border: 1px solid;
    border-radius: 7px;
    padding: 0.3rem 1rem;
    box-shadow: 1px 1px 2px 0;
    background-color: #f9f5ff;
    font-size: medium;
}
