<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/css/dashboard.css" />
        <link rel="shortcut icon" href="data:" type="image/x-icon" />
        <title>Dashboard</title>
    </head>
    <body>
        <div id="topbar">
            <a href="/dashboard">
                <img
                    id="logo-img"
                    src="../static/images/logo.png"
                    alt="commas logo"
            /></a>
            <h1 id="brandname">dashboard</h1>
            <a href="/logout" id="options">(logout)</a>
        </div>

        <div id="prev">
            <div id="prev-topbar">
                <span> All assessments</span>
                <a id="new" class="btn" href="/new">+</a>
            </div>
            <div id="assess">
                
            </div>
        </div>

        <script>
            const assessDiv = document.getElementById("assess");

            function create_empty_card() {
                assessDiv.innerHTML = `<div class="card" id="get-started-card">
                    <span class="new-text">New here!</span>
                    <span class="new-subtext">Tap the button below or click on the + icon to get started</span>
                    <a class="btn" id="started"  href="/new">Get started</a>
                </div>`;
            }
            function create_normal_card(ques, date, time, n) {
                assessDiv.innerHTML += `<div class="card ass-card">
                    <div class="first-row">
                        <div class="ques">Q: ${ques}</div>
                        <div class="time">${date} <br /> ${time}</div>
                    </div>
                    <div class="second-row">
                        <div class="score"></div>
                        <a href="/results?n=${n}" class="more">more...</a>
                    </div>
                </div>`;
            }

            function fetch_all_data() {
                fetch("/get", { credentials: "include" })
                    .then((response) => {
                        return response.json();
                    })
                    .then((data) => {
                        if (data.status == "no") {
                            create_empty_card();
                        } else if (data.status == "yes") {
                            let ass_data = data.data;
                            Object.keys(ass_data).reverse().forEach(i => {
                                let ques = ass_data[i].details.question
                                let full_date = new Date(ass_data[i].details.time)
                                let date = `${full_date.getDay()}-${full_date.getMonth()}-${full_date.getFullYear().toString().slice(2)}`
                                let time = `${full_date.getHours()}:${full_date.getMinutes().toString().padStart(2, '0')}`
                                create_normal_card(ques, date, time, i)
                            })
                        }
                    });
            }
            fetch_all_data();
        </script>
    </body>
</html>
