{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" href="../static/css/index.css">
<title>commas</title>

{% endblock %}

{% block content %}

<div id="desc">
    <h1 class="heading">Your personal <b id="highlight">Communication Assessor</b></h1>
    <h2 id="subheading">
        Perfect your grammar, tone, fluency and get AI
        feedback to improve your language skills.
    </h2>
    <div id="links">
        {% if loggedin %}
        <a href="/dashboard" class="btn login">Go to Dashboard</a>
        {% else %}
        <a href= "/signup" class="btn login">Join Now</a>
        <a href= "/login" class="btn login">Login</a>
        {% endif %}
    </div>
</div>
 
<img
    id="bg-img"
    src="../static/images/image copy.png"
    alt="background"
/>

{% endblock%}